* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #033522;
}


.navbar ul {
  list-style: none;
}

.navbar .logo{
  padding-left: 3rem;
}

.navbar .logo a {
  text-decoration: none;
  font-weight: bold;
  color: #e7f6ee;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
  position: relative;
  padding-right: 2rem;
}

.navbar .nav-links > li > a {
  text-decoration: none;
  color: #e7f6ee;
  padding: 0.5rem;
  display: block;
}

.nav-dropdown {
  position: relative;
  color: #033522;
}

.nav-dropdown a {
  text-decoration: none;
  color: #e7f6ee;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background:#033522;
  padding: 0.5rem;
  
}

.dropdown-menu li{
  margin: 0.5rem;
}

.dropdown-menu li:hover{
  transform: translateY(-5px);
  color:  #cce5d8;
}


.nav-dropdown:hover .dropdown-menu {
  display: block;
}

.toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #e7f6ee;
  
}


/* Mobile drh sidebar */
.toggle-drop {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 1rem;
  z-index: 100;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  display: none;
  background: #f7fbf9;
}

.toggle-drop.open {
  display: block;
  transform: translateX(0);
  
}

.toggle-drop ul {
  list-style: none;
  padding-top: 2rem;
}

.toggle-drop a {
  text-decoration: none;
  color:#033522;
  display: block;
  padding: 1rem 0;
}

.toggle-drop .close-btn {
  font-size: 1.5rem;
  color: #033522;
  float: right;
  cursor: pointer;
  
}


@media (max-width: 800px) {
  .navbar .nav-links {
    display: none;
  }

  .toggle {
    display: block;
    
  }
}

/* main container */


/* face section */
.face {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #033522;
}

/* item section */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
  color: #033522;
}

.items .item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #e7f6ee;
  border-radius: 12px;
  padding: 20px;
  width: 260px;
  height: 260px;
  transition: 0.3s;
  font-size: 1rem;
  background-color: white;
}

.items .item-card a {
  text-decoration: none;
  color: #033522;
  font-weight: bold;
}

.items .item-card p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
}

.items .item-card:hover {
  background: #e2f4ee;
  transform: translateY(-6px);
  box-shadow: 0 6px 12px rgba(0, 93, 69, 0.2);
}

/* footer */
.shoes {
  color: #e7f6ee;
  background-color: #033522;
  padding: 1rem;
}

.shoes a {
  text-decoration: none;
  color: #e7f6ee;
}

.shoes ul {
  list-style: none;
}

.shoes .contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shoes .end {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
